@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    font-size: 62.5%;
    --default-drop-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    --default-border-color: 3px solid #1E1E1E;
    --default-border-sections: 1px solid #1E1E1E20;
}

body {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.9rem;
}

.container,
main,
.news__section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.9rem;
}

main .container,
.news__section .container {
    display: block;
    padding: 0;
}

/* NAV */
nav {
    width: 100%;
    background-color: #f00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-bottom: var(--default-border-color);
}

nav .nav__logo img {
    width: 180px;
    margin-right: 3rem;
}

nav .nav__links {
    display: flex;
    align-items: center;
}

nav .nav__links ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 4rem;
    margin-left: 5rem;
}

nav .nav__links a {
    color: #fff;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.3s ease-in;
}

nav .nav__links a:hover {
    color: #1E1E1E;
}

nav .nav__links span {
    margin-left: 3rem;
    color: #1E1E1E;
    font-size: 1.5rem;
    font-weight: bold;
}

nav .nav__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

nav .nav__btn button {
    background-color: #fff;
    color: #f00;
    width: 180px;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    height: 35px;
    border: none;
    transition: all 0.3s ease-in;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 4rem;
}

nav .nav__btn button:hover {
    color: #fff;
    background-color: #f00;
}

/* MAIN */
main {
    margin: 4rem auto;
}

main .main__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    text-shadow: var(--default-drop-shadow);
    color: #f00;
}

main .main__title h1 {
    font-size: 5rem;
}

main .main__title h3 {
    color: #1E1E1E;
    font-size: 2.5rem;
    margin-bottom: 4rem;
}

/* MAIN - SLIDES PHOTOS */
main .main__banner {
    margin: 0 auto;
    width: 1170px;
    height: 450px;
    overflow: hidden;
    position: relative;
}

.slides__banner {
    width: 300%;
    height: 400px;
    display: flex;
    position: relative;
}

.slides__banner input {
    display: none;
}

.slide {
    width: 33.33%;
    transition: 0.6s;
}

.slide img {
    width: 1170px;
    height: 450px;
    object-fit: cover;
}

.manual__nav,
.nav__auto {
    position: absolute;
    width: 1170px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.manual__btn,
.nav__auto div {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual__btn:not(:last-child),
.nav__auto div:not(:last-child) {
    margin-right: 40px;
}

.manual__btn:hover {
    background-color: #fff;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -33.33%;
}

#radio3:checked~.first {
    margin-left: -66.66%;
}

.nav__auto div {
    border: 2px solid #f00;
}

.nav__auto {
    margin-top: 420px;
}

#radio1:checked~.nav__auto .auto__btn1,
#radio2:checked~.nav__auto .auto__btn2,
#radio3:checked~.nav__auto .auto__btn3 {
    background-color: #fff;
}

main .main__border {
    margin-top: 5rem;
    border: var(--default-border-sections);
}

/* SECTIONS */
/* SECTION - LASTEST PHOTOS/NEWS */
.news__section {
    display: block;
    margin: 5rem auto;
}

.news__section .news__menu {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.news__section .news__title,
.title__about {
    font-size: 3rem;
    text-shadow: var(--default-drop-shadow);
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.news__section .news__menu .news__photo img {
    width: 655px;
    border-radius: 1rem;
    box-shadow: var(--default-drop-shadow);
}

.news__section .news__menu .news__albums {
    width: 600px;
    height: 470px;
    background-color: #1E1E1E;
    border-radius: 8px 8px 8px 0px;
}

.news__section .news__albums .album__name {
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 8px 8px 8px 0px;
    margin: 1rem;
}

.news__section .news__albums .album__name a {
    color: #1E1E1E;
    font-weight: 600;
}

.news__section .news__albums .album__name span {
    font-size: 1rem;
}

.news__section .news__albums .album__name p {
    font-size: 2rem;
    margin-top: 0.5rem;
    font-weight: 800;
}

/* SECTION - ABOUT ME */
.about__section .container {
    display: block;
    gap: 3rem;
    margin-bottom: 3rem;
}

.about__section .title__about {
    margin-bottom: 4rem;
}

.about__section .text__about p {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 3rem;
}

.about__section .image__about img {
    max-width: 1150px;
}

/* FOOTER */
footer {
    width: 100%;
    background-color: #f00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-top: var(--default-border-color);
}

footer .footer__logo img {
    width: 100px;
}

footer .footer__links {
    display: flex;
    align-items: center;
}

footer .footer__links ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
    margin-left: 5rem;
}

footer .footer__links ul img {
    width: 40px;
}

footer .footer__links .footer__text {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}

/* MEDIA QUERIES */
@media (min-width: 1200px) {
    main .main__banner {
        flex-wrap: nowrap;
    }
}

@media (max-width: 768px) {
    .news__section .news__menu {
        flex-direction: column;
        align-items: center;
    }

    .news__section .news__menu .news__photo img,
    .news__section .news__menu .news__albums,
    .about__section .image__about img {
        width: 100%;
        max-width: 655px;
    }
}