@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    font-size: 62.5%;
    --default-drop-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

body {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
}

/* NAV */

nav {
    background-color: #f00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-bottom: 3px solid #1E1E1E;
}

nav .nav__links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 4rem;
    margin-left: 5rem;
}

nav .nav__links a {
    color: #fff;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.3s ease-in;
}

nav .nav__links a:hover {
    color: #1E1E1E;
}

nav .nav__logo img {
    width: 180px;
    margin-right: 3rem;
}

/* MAIN */
main {
    margin: 4rem auto;
}

main .main__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-shadow: var(--default-drop-shadow);
    color: #f00;
}

.main__title h1 {
    font-size: 5rem;
}

.main__title h3 {
    color: #1E1E1E;
    font-size: 2.5rem;
}

main .main__banner {
    display: flex;
    justify-content: center;
    flex: 1 1 200px;
    flex-wrap: wrap;
    gap: 5rem;
    margin-top: 4rem;
}

main .main__banner img {
    border-radius: 1rem;
    box-shadow: var(--default-drop-shadow);
}

main .main__border {
    margin-top: 5rem;
    border: 1px solid #1E1E1E20;
}

/* SECTION NEWS */
.news__section {
    display: block;
    margin: 5rem;
    flex: 1 1 200px;
    flex-wrap: wrap;    
}

.news__title {
    font-size: 3rem;
    text-shadow: var(--default-drop-shadow);
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.news__menu {
    display: flex;
    gap: 3rem;
}

.news__menu .news__photo img {
    width: 655px;
    border-radius: 1rem;
    box-shadow: var(--default-drop-shadow);
}

.news__menu .news__albums {
    width: 600px;
    height: 470px;
    background-color: #1E1E1E;
    border-radius: 8px 8px 8px 0px;
}

.news__albums .album__name {
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 8px 8px 8px 0px;
    margin: 1rem;
}
.news__albums .album__name a {
    color: #1E1E1E;
    font-weight: 600;
}

.news__albums .album__name span {
    font-size: 1rem;
}

.news__albums .album__name p {
    font-size: 2rem;
    margin-top: 0.5rem;
    font-weight: 800;
}